/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";

export declare namespace SnippetsFactory {
    export interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class SnippetsFactory {
    protected readonly _options: SnippetsFactory.Options;

    constructor(_options: SnippetsFactory.Options = {}) {
        this._options = _options;
    }

    /**
     * Store endpoint snippets for a particular SDK.
     *
     * @param {FernRegistry.CreateSnippetRequest} request
     * @param {SnippetsFactory.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.snippetsFactory.createSnippetsForSdk({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         snippets: {
     *             type: "typescript",
     *             sdk: {
     *                 "package": "package",
     *                 version: "version"
     *             },
     *             snippets: [{
     *                     snippet: {
     *                         client: "client"
     *                     },
     *                     endpoint: {
     *                         path: FernRegistry.EndpointPathLiteral("path"),
     *                         method: "GET",
     *                         identifierOverride: undefined
     *                     },
     *                     exampleIdentifier: undefined
     *                 }, {
     *                     snippet: {
     *                         client: "client"
     *                     },
     *                     endpoint: {
     *                         path: FernRegistry.EndpointPathLiteral("path"),
     *                         method: "GET",
     *                         identifierOverride: undefined
     *                     },
     *                     exampleIdentifier: undefined
     *                 }]
     *         }
     *     })
     */
    public createSnippetsForSdk(
        request: FernRegistry.CreateSnippetRequest,
        requestOptions?: SnippetsFactory.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.snippetsFactory.createSnippetsForSdk.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__createSnippetsForSdk(request, requestOptions));
    }

    private async __createSnippetsForSdk(
        request: FernRegistry.CreateSnippetRequest,
        requestOptions?: SnippetsFactory.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.snippetsFactory.createSnippetsForSdk.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippets/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.snippetsFactory.createSnippetsForSdk.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                case "OrgIdNotFound":
                case "SDKNotFound":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.snippetsFactory.createSnippetsForSdk.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.snippetsFactory.createSnippetsForSdk.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
