/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernFai from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Analytics {
    export interface Options {
        environment?: core.Supplier<environments.FernFaiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

/**
 * APIs for the FAI (Acorn) Service
 */
export class Analytics {
    protected readonly _options: Analytics.Options;

    constructor(_options: Analytics.Options = {}) {
        this._options = _options;
    }

    /**
     * Retrieve the usage histogram analytics for a given period
     *
     * @param {string} domain
     * @param {FernFai.GetHistogramAnalyticsRequest} request
     * @param {Analytics.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.analytics.getHistogramAnalytics("domain", {
     *         start_date: "2024-01-15T09:30:00Z",
     *         end_date: "2024-01-15T09:30:00Z",
     *         groupBy: "DAY"
     *     })
     */
    public getHistogramAnalytics(
        domain: string,
        request: FernFai.GetHistogramAnalyticsRequest,
        requestOptions?: Analytics.RequestOptions,
    ): core.HttpResponsePromise<FernFai.HistogramAnalytics> {
        return core.HttpResponsePromise.fromPromise(this.__getHistogramAnalytics(domain, request, requestOptions));
    }

    private async __getHistogramAnalytics(
        domain: string,
        request: FernFai.GetHistogramAnalyticsRequest,
        requestOptions?: Analytics.RequestOptions,
    ): Promise<core.WithRawResponse<FernFai.HistogramAnalytics>> {
        const { start_date: startDate, end_date: endDate, groupBy } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["start_date"] = startDate;
        _queryParams["end_date"] = endDate;
        _queryParams["groupBy"] = groupBy;
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/analytics/histogram/${encodeURIComponent(domain)}`,
            ),
            method: "GET",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as FernFai.HistogramAnalytics, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError(
                    "Timeout exceeded when calling GET /analytics/histogram/{domain}.",
                );
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve the insights for a given period
     *
     * @param {string} domain
     * @param {FernFai.GetInsightsRequest} request
     * @param {Analytics.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.analytics.getInsights("domain", {
     *         start_date: "2024-01-15T09:30:00Z",
     *         end_date: "2024-01-15T09:30:00Z"
     *     })
     */
    public getInsights(
        domain: string,
        request: FernFai.GetInsightsRequest,
        requestOptions?: Analytics.RequestOptions,
    ): core.HttpResponsePromise<FernFai.Insights> {
        return core.HttpResponsePromise.fromPromise(this.__getInsights(domain, request, requestOptions));
    }

    private async __getInsights(
        domain: string,
        request: FernFai.GetInsightsRequest,
        requestOptions?: Analytics.RequestOptions,
    ): Promise<core.WithRawResponse<FernFai.Insights>> {
        const { start_date: startDate, end_date: endDate } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["start_date"] = startDate;
        _queryParams["end_date"] = endDate;
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/analytics/insights/${encodeURIComponent(domain)}`,
            ),
            method: "GET",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as FernFai.Insights, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError("Timeout exceeded when calling GET /analytics/insights/{domain}.");
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
