/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";

export declare namespace Dashboard {
    export interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

/**
 * APIs for the Fern Dashboard
 */
export class Dashboard {
    protected readonly _options: Dashboard.Options;

    constructor(_options: Dashboard.Options = {}) {
        this._options = _options;
    }

    /**
     * Get all docs sites that belong to a given organization
     *
     * @param {FernRegistry.dashboard.GetDocsSitesForOrgRequest} request
     * @param {Dashboard.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboard.getDocsSitesForOrg({
     *         orgId: FernRegistry.OrgId("orgId")
     *     })
     */
    public getDocsSitesForOrg(
        request: FernRegistry.dashboard.GetDocsSitesForOrgRequest,
        requestOptions?: Dashboard.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.dashboard.GetDocsSitesForOrgResponse,
            FernRegistry.dashboard.getDocsSitesForOrg.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getDocsSitesForOrg(request, requestOptions));
    }

    private async __getDocsSitesForOrg(
        request: FernRegistry.dashboard.GetDocsSitesForOrgRequest,
        requestOptions?: Dashboard.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.dashboard.GetDocsSitesForOrgResponse,
                FernRegistry.dashboard.getDocsSitesForOrg.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/dashboard/get-docs-sites-for-org",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.dashboard.GetDocsSitesForOrgResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.dashboard.getDocsSitesForOrg.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.dashboard.getDocsSitesForOrg.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.dashboard.getDocsSitesForOrg.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
