@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@import "@fern-docs/components/styles";
@import "@fern-docs/search-ui/styles";

@source "../../../../../../../components";

:root {
  --header-toolbar-height: 54px;
  --preview-container-height: calc(
    100vh - var(--header-height) - var(--header-toolbar-height)
  );
}
#preview-container {
  @apply relative;
  container-type: inline-size;
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/base.scss";
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/components.scss";
  @import "../../../../../../../docs/mdx/components/index.scss";

  @apply font-body text-body bg-background text-base;
  @apply h-full;

  transform: translateX(0%);

  .fern-background-image {
    overflow: hidden;
    position: absolute;
    background-attachment: scroll;
  }
}
