@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@import "@fern-docs/components/styles";
@import "@fern-docs/search-ui/styles";

@source "../../../../../../../components";

#preview-container {
  @apply relative;
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/base.scss";
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/components.scss";

  @apply font-body text-body bg-background overflow-auto text-base;

  .fern-background-image {
    overflow: hidden;
    position: absolute;
    background-attachment: scroll;
  }

  /* This makes sure that the header stays within the bounds of our preview page */
  #fern-header {
    position: sticky;
    @apply sticky top-0;
  }

  /* This makes sure that the main content is not pushed down by the header, since the header is no longer fixed in this layout. */
  main {
    @apply mt-0;
  }
}
