@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@import "@fern-docs/components/styles";
@import "@fern-docs/search-ui/styles";

@source "../../../../../../../components";

:root {
  --header-toolbar-height: 54px;
  --preview-container-height: calc(
    100vh - var(--header-height) - var(--header-toolbar-height)
  );
}
#preview-container {
  @apply relative;
  container-type: inline-size;
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/base.scss";
  @import "../../../../../../../../../fern-docs/bundle/src/components/css/components.scss";
  @import "../../../../../../../docs/mdx/components/index.scss";

  @apply font-body text-body bg-background text-base;
  @apply h-full;

  transform: translateX(0%);

  .fern-background-image {
    overflow: hidden;
    position: absolute;
    background-attachment: scroll;
  }

  /* This makes sure that the header stays within the bounds of our preview page */
  #fern-header {
    position: sticky;
    @apply sticky top-0;
  }

  #fern-sidebar[data-state="fixed"] {
    position: absolute;
    @apply top-0;
    height: var(--preview-container-height);
  }

  /* This makes sure that the main content is not pushed down by the header, since the header is no longer fixed in this layout. */
  main {
    @apply mt-0 h-full;
  }
}
